body{
  min-height: 575px;
  min-width: 780px;
  margin: 0px;
  user-select: none;
  background-color: #303030;
}
text{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
/*
 * Left column stuff
 */
#left-column{
  position: absolute;
  width: 40%;
  height: 85%;
  top: 7%;
  left: 0;
  overflow: hidden;
}
#info-bar{
  position: absolute;
  width: 100%;
  height: 7%;
  background-color: #000000;
}
#left-body{
  position: relative;
  width: 100%;
  height: 100%;
}
#no-playlist-page{
  width: 100%;
  height: 100%;
}
#no-playlist-page-msg{
  position: absolute;
  top: 25%;
  left: 12.5%;
  width: 75%;
  text-align: center;
}
#info-bar-button{
  position: absolute;
  top: 25%;
  left: 2%;
}
#info-bar-search-button{
  position: absolute;
  top: 25%;
  right: 2%;
}
#info-bar-title{
  position: absolute;
  top: 17.5%;
  left: 10%;
  max-width: 80%;
}
#video-list{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: none;
  overflow-y: auto;
}
.video-container{
  position: relative;
  width: 95%;
  height: 10%;
  margin: 2.5%;
  overflow: hidden;
}
.video-container:hover .video-img-overlay{
  display: block;
}
.video-container:hover .video-play-pause-button{
  display: block;
}
.video-container:hover .video-settings{
  display: block;
}
.video-img{
  position: absolute;
  margin: .5%;
  height: 95%;
  width: 22.5%;
}
.video-img-overlay{
  position: absolute;
  display: none;
  background-color: black;
  opacity: .5;
  z-index: 100;
}
.video-play-pause-button{
  display: none;
}
.video-play-button{
  position: absolute;
  top: 25%;
  left: 40%;
  z-index: 1000;
  color: white;
}
.video-pause-button{
  position: absolute;
  z-index: 1000;
  top: 25%;
  left: 35%;
  color: white;
  display: none;
}
.video-settings{
  display: none;
  background-color: #424242;
  position: absolute;
  right: 0;
  top: 10%;
  width: 8%;
  height: 100%;
}
.video-delete{
  width: 15px;
  color: white;
}
.video-edit{
  width: 15px;
  color: white;
}
.left-column-video-title{
  position: absolute;
  height: 65%;
  width: 76%;
  top: 15%;
  left: 25%;
}
.left-column-duration{
  position: absolute;
  top: 65%;
  left: 25%;
}
#playlist-display{
  position: absolute;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
}
#playlist-list{
  position: absolute;
  top: 5%;
  width: 100%;
  height: 89%;
  overflow-x: hidden;
}
.playlist-list-description{
  position: absolute;
  width: 100%;
}
.playlist-container{
  position: relative;
  margin-top: 1%;
  width: 100%;
  height: 7%;
}
.playlist-container:hover{
  background-color: #424242;
}
.playlist-container:hover .playlist-settings{
  display: block;
}
.playlist-container:hover .playlist-title{
  background-color: #424242;
}
.playlist-title{
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: #303030;
}
.playlist-length{
  position: absolute;
  width: 100%;
  height: 40%;
  top: 55%;
}
.playlist-settings{
  display: none;
  position: absolute;
  right: 0;
  top: 12.5%;
  width: 20%;
  height: 70%;
}
.playlist-edit{
  margin-right: 20%;
  margin-top: 7%;
  width: 15px;
  color: white;
}
.playlist-delete{
  width: 15px;
  color: white;
}
#playlist-options{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
}
.add-playlist-options{
  position: absolute;
  display: none;
  width: 100px;
  height: 70px;
  top: -72px;
  left: -35px;
}
#add-new-playlist:hover{
  color: turquoise;
}
#add-new-playlist-div{
  height: 60px;
  width: 200px;
  position: absolute;
  display: none;
  top: -63px;
  left: -80px;
}
#add-new-playlist-button{
  height: 20px;
  width: 75px;
  position: absolute;
  left: 30%;
  top: 60%;
}
#add-new-playlist-button:hover{
  color: turquoise;
}
#add-new-playlist-title-input{
  border: 1px solid lightgray;
  position: absolute;
  left: 10%;
  top: 20%;
}
#import-new-playlist:hover{
  color: turquoise;
}
/*
 * Delete playlist popup stuff
 */ 
#delete-playlist-popup{
  position: absolute;
  width: 250px;
  height: 100px;
  display: none;
  top: 40%;
  left: 250px;
  z-index: 10;
  cursor: default;
}
#delete-playlist-popup-confirm-button{
  position: absolute;
  width: 75px;
  height: 25px;
  top: 50px;
  left: 145px;
  z-index: inherit;
}
#delete-playlist-popup-confirm-button:hover{
  color: black;
  background-color: white;
}
#delete-playlist-popup-cancel-button{
  position: absolute;
  width: 75px;
  height: 25px;
  top: 50px;
  left: 25px;
  z-index: inherit;
}
#delete-playlist-popup-cancel-button:hover{
  color: black;
  background-color: white;
}
#delete-playlist-popup-text{
  position: absolute;
  top: 10%;
  left: 2%;
}
/*
 * Right column stuff
 */
#right-column{
  position: absolute;
  width: 60%;
  height: 85%;
  top: 7%;
  right: 0;
}

/*
 * Playlist popup stuff
 */
#playlist-popup{
  top: 140px;
  left: 150px;
  width: 500px;
  height: 300px;
  position: absolute;
  display: none;
  cursor: default;
  z-index: 99;
}
.import-container{
  background-color: #212121;
  box-shadow: 0px 0px 15px #888888;
  height: 35px;
}

.import-other-url-input{
  position: absolute;
  height: 20px;
  width: 300px;
  left: 95px;
  top: 60px;
}

#import-other-results-container{
  position: absolute;
  height: 200px;
  width: 400px;
  left: 50px;
  top: 90px;
}

#import-other-results{
  position: absolute;
  border: 1px solid lightgray;
  height: 175px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#url-or-display-all-selection-container{
  position: absolute;
  height: 200px;
  width: 400px;
  left: 50px;
  top: 70px;
  display: none;
}

#url-selection-button-container{
  display: none;
}

#url-selection-button{
  position: absolute;
  height: 25px;
  width: 150px;
  left: 100px;
  top: 50px;
  padding: 1%;
  text-align: center;
  background-color: #212121;
}

#url-selection-button:hover{
  color: black;
  background-color: white;
  font-weight: bold;
}

#url-selection-container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

#url-selection-results-container{
  position: absolute;
  height: 150px;
  width: 400px;
  left: 0px;
  top: 40px;
  overflow-x: hidden;
}

#url-selection-load{
  position: absolute;
  top: 50px;
  left: 20%;
  z-index: 100;
  width: 100%;
  height: 125%;
  display: none;
}

#url-selection-success{
  position: absolute;
  top: -20px;
  z-index: 100;
  width: 100%;
  height: 105%;
  display: none;
}

#url-selection-continue-button{
  position: absolute;
  background-color: #212121;
  top: 102%;
  left: 40%;
  width: 65px;
  height: 25px;
  padding: 1%;
}

#url-selection-continue-button:hover{
  background-color: white;
  color: black;
  font-weight: bold;
}

#url-selection-logout-button{
  position: absolute;
  border: 1px solid lightgray;
  top: -5%;
  right: -5%;
  width: 65px;
  height: 25px;
  text-align: center;
}

#url-selection-error{
  position: absolute;
  top: 50px;
}

.url-selection-url-input{
  position: absolute;
  height: 20px;
  width: 300px;
  left: 45px;
  top: 0;
}

#display-all-selection-button{
  position: absolute;
  height: 25px;
  width: 150px;
  left: 100px;
  top: 100px;
  text-align: center;
  padding: 1%;
  background-color: #212121;
}

#display-all-selection-button:hover{
  color: black;
  background-color: white;
  font-weight: bold;
}

#display-all-selection-container{
  position: absolute;
  top: -15px;
  height: 100%;
  width: 100%;
  display: none;
}

#display-all-selection-results-container{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#display-all-selection-buttons-container{
  position: absolute;
  height: 25px;
  width: 100%;
  bottom: -30px;
}

#display-all-selection-cancel-button{
  left: 20%;
  width: 60px;
}

#display-all-selection-import-all-button{
  left: 37%;
  width: 85px;
}

#display-all-selection-import-button{
  left: 60%;
  width: 60px;
}

.display-all-selection-result{
  position: relative;
  height: 90px;
  width: 120px;
  border: 1px solid lightgray;
  float: left;
}

.display-all-selection-buttons{
  position: absolute;
  height: 25px;
  background-color: #212121;
  padding: 1%;
  text-align: center;
}

.display-all-selection-buttons:hover{
  color: black;
  background-color: white;
  font-weight: bold;
}

#import-other-success{
  position: absolute;
  border: 1px solid lightgray;
  height: 175px;
  width: 100%;
  display: none;
}

.import-other-button{
  position: absolute;
  height: 25px;
  width: 75px;
  text-align: center;
  top: 102%;
  background-color: #212121;
}

.import-other-button:hover{
  color: black;
  background-color: white;
  font-weight: bold;
}

.import-other-button.url-selection{
  top: 100%;
}

.import-other-button.left{
  left: 25%;
}

.import-other-button.right{
  right: 25%;
}

.import-other-button.results{
  display: none;
  top: 90%;
}

.import-other-results-display-container{
  position: relative;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  
}

.import-other-success-text{
  position: absolute;
  top: 30%;
  color: green;
  left: 5%;
}

#import-other-load{
  position: absolute;
  height: 150px;
  width: 150px;
  top: 25px;
  left: 125px;
}

#import-other-api-error-msg{
  position: absolute;
  left: 15px;
}

.import-your-playlist{
  line-height: 200%;
  margin-left: 10%;
  height: 100%;
}

.import-your-playlist:hover{
  color: turquoise;
}

.import-other-playlist{
  line-height: 200%;
  margin-left: 5%;
  height: 100%;
}

.import-other-playlist:hover{
  color: turquoise;
}

/*
 * Border stuff
 */
.border{
  border: 1px solid gray;
}
.border-none{
  border: 0;
}
.border-bottom{
  border-bottom: 1px solid lightgray;
}
.border-top{
  border-top: 1px solid gray;
}
.border-right{
  border-right: 1px solid #474B4F;
}
.border-left{
  border-left: 1px solid gray;
}

/*
 * Button stuff
 */
.button{
  cursor: pointer;
}
.add-playlist{
  position: absolute;
  left: 45%;
  border-radius: 50%;
}
.create-playlist-button{
  width: 125px;
  font-size: 18px;
}
.playlist-option-create-playlist-button{
  position: absolute;
  
}
.create-playlist-button.no-playlist{
  position: absolute;
  top: 40%;
  left: 30%;
}

/*
 * Control panel stuff
 */
#control-panel{
  position: absolute;
  bottom: 0;
  background-color: #212121;
  width: 100%;
  height: 8%;
}

.control-button{
  line-height: 190%;
}

.control-play-pause-button{
  left: 200px;
}

.control-rewind-button{
  left: 175px;
}

.control-fast-forward-button{
  left: 233px;
}

.control-repeat-button{
  line-height: 200%;
  left: 155px;
}

.control-shuffle-button{
  line-height: 200%;
  left: 260px;
}

.control-time{
  bottom: 10px;
  left: 115px;
  position: absolute;
  width: 225px;
  height: 10px;
}
.control-time-bar-container{
  width: 145px;
  height: 3px;
  position: absolute;
  left: 40px;
}
.control-time-bar{
  background-color: lightgray;
  width: 0;
  height: inherit;
}
#control-time-bar-progress{
  position: absolute;
  top: 9px;
  left: 3px;
  border-radius: 5px;
  background-color: black;
  width: 0;
  height: 100%;
}
.control-time-curr{
  position: absolute;
  width: 35px;
  height: inherit;
  text-align: right;
}
.control-time-end{
  position: absolute;
  width: 35px;
  height: inherit;
  text-align: left;
}

/*
 * Text stuff
 */
.tinier-font{
  font-size: 2px;
}
.tiny-font{
  font-size: 12px;
}
.small-font{
  font-size: 16px;
}
.regular-font{
  font-size: 18px;
}
.large-font{
  font-size: 20px;
}
.larger-font{
  font-size: 22px;
}
.center{
  text-align: center;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
 * Color stuff
 */
.lightgray{
  color: lightgray;
}
.gray{
  color: gray;
}
.white{
  color: white;
}
.card-background{
  background-color: #424242;
}
.circle-background{
  border-radius: 50%;
}

/*
 * Animation stuff
 */
.shift-to-left-animation{
  animation-name: shiftLeft;
  animation-duration: .1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: normal;
}

.shift-off-left-animation{
  animation-name: shiftOffLeft;
  animation-duration: .1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: normal;
}

.shift-to-right-animation{
  animation-name: shiftRight;
  animation-duration: .1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: normal;
}

@keyframes shiftLeft{
  to{
    left: 0;
  }
}

@keyframes shiftOffLeft{
  to{
    left: -75%;
  }
}

@keyframes shiftRight{
  to{
    left: 74.5%;
  }
}

/*
 * Scrollbar stuff
 */
.scrollbar{
  float: left;
  height: 100%;
  width: 65px;
  overflow-y: auto;
  margin-bottom: 25px;
}
.scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #212121;
}
.scrollbar::-webkit-scrollbar
{
  border-radius: 10px;
  width: 12px;
  background-color: #000000;
}
.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #000000;
}

/*
 * Misc. stuff
 */
.float-left{
  float: left;
}
.small-top-down-padding{
  padding-top: 5%;
  padding-bottom: 5%;
}
#overlay{
  position: fixed;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%; 
  display: none;
}
#transparent-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
.clickable-through-overlay{
  z-index: 10;
}

/*
 * Load animation
 */
.container{
  height: 150px;
  width: 140px;
  font-family: sans-serif; 
}
.loader{
  height: 150px;
  width: 140px;
}
.sk-circle {
  margin-left: 12px;
  width: 115px;
  height: 115px;
  position: relative; 
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  /*background-color: #333;*/
  background-color: turquoise;
  border-radius: 100%;
  animation: load-animation 1.2s infinite ease-in-out both; 
}
.sk-circle .sk-circle2 {
  transform: rotate(30deg); 
}
.sk-circle .sk-circle3 {
  transform: rotate(60deg); 
}
.sk-circle .sk-circle4 {
  transform: rotate(90deg); 
}
.sk-circle .sk-circle5 {
  transform: rotate(120deg); 
}
.sk-circle .sk-circle6 {
  transform: rotate(150deg); 
}
.sk-circle .sk-circle7 {
  transform: rotate(180deg); 
}
.sk-circle .sk-circle8 {
  transform: rotate(210deg); 
}
.sk-circle .sk-circle9 {
  transform: rotate(240deg); 
}
.sk-circle .sk-circle10 {
  transform: rotate(270deg); 
}
.sk-circle .sk-circle11 {
  transform: rotate(300deg); 
}
.sk-circle .sk-circle12 {
  transform: rotate(330deg); 
}
.sk-circle .sk-circle2:before {
  animation-delay: -1.1s; 
}
.sk-circle .sk-circle3:before {
  animation-delay: -1s; 
}
.sk-circle .sk-circle4:before {
  animation-delay: -0.9s; 
}
.sk-circle .sk-circle5:before {
  animation-delay: -0.8s; 
}
.sk-circle .sk-circle6:before {
  animation-delay: -0.7s; 
}
.sk-circle .sk-circle7:before {
  animation-delay: -0.6s; 
}
.sk-circle .sk-circle8:before {
  animation-delay: -0.5s; 
}
.sk-circle .sk-circle9:before {
  animation-delay: -0.4s; 
}
.sk-circle .sk-circle10:before {
  animation-delay: -0.3s; 
}
.sk-circle .sk-circle11:before {
  animation-delay: -0.2s; 
}
.sk-circle .sk-circle12:before {
  animation-delay: -0.1s; 
}
.loader--text{
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after{
  content: "Loading";
  font-weight: bold;
  color: turquoise;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes load-animation{
  20%{
    opacity: .8;
  }
  40%{
    opacity: .6;
  }
  60%{
    opacity: .4;
  }
  80%{
    opacity: .2;
  }
}
@keyframes loading-text{
  0%{
    content: "Loading";
  }
  25%{
    content: "Loading.";
  }
  50%{
    content: "Loading..";
  }
  75%{
    content: "Loading..."
  }
}