.videoList{
  width: inherit;
  height: inherit;
  position: absolute;
  text-align: center;
  cursor: pointer;
  margin-top: 2px;
  word-wrap: break-word;
  word-break: break-all;
  
}

.videoList.container{
  width: 480px;
  position: relative;
  height: 25px;
  display: block;
}

.video-settings{
  position: absolute;
  background-color: white;
  left: 395px;
  height: 25px;
  width: 25px;
  opacity: 0;
}

.playlist-settings{
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  width: 70px;
  margin-top: 2px;
  margin-left: 20px;
  opacity: 0;
}

.video-settings-modal{
  position: absolute;
  background-color: white;
  left: 365px;
  height: 25px;
  width: 30px;
  transition: 0.5s ease;
  opacity: 0;
}

.video-image-container{
  position: absolute;
  top: 3.5px;
  left: 20px;
}

.videoList.imageContainer{
  width: 50px;
  top: 0;
  left: 0;
}

.videoList.titleContainer{
  width: 250px;
  top: 0;
  left: 50px;
  text-align: left;
  overflow: hidden;
  height: 16px;
}

.videoList.channelContainer{
  width: 200px;
  top: 0;
  left: 300px;
  text-align: left;
  height: 16px;
  overflow: hidden;
}

.videoList.durationContainer{
  width: 40px;
  top: 0;
  left: 650px;
}

.videoList.settingsContainer{
  width: 35px;
  top: 0;
  left: 690px;
  cursor: pointer;
}

.border{
  border: 1px solid lightgray;
}

.botBorder{
  border-bottom: 1px solid lightgray;
}

.border-bottom{
  border-bottom: 1px solid lightgray;
}

.border-top{
  border-top: 1px solid lightgray;
}

.rightBorder{
  border-right: 2px solid black;
}

.leftBorder{
  border-left: 2px solid black;
}

.blue.rightBorder{
  border-right-color: blue;
}

.blue.leftBorder{
  border-left-color: blue;
}

.green.rightBorder{
  border-right-color: green;
}

.green.leftBorder{
  border-left-color: green;
}

.left-align{
  left: 0;
}

.right-align{
  right: 0;
}

.button{
  cursor: pointer;
  position: absolute;
}

.small-square-button{
  top: 1.5px;
  width: 15px;
}


.player{
  position: absolute; 
  right: 0px; 
  width: 420px; 
  height: 240px;
}

.player.iframe{
  display: none;
}

.player.image-container{
  
}

.image-image{
  
}

.search-results-display{
  position: absolute;
  top: 45px;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.left-column{
  position: absolute;
  border-right: 1px solid lightgray;
  left: 0px; 
  width: 359px; 
  height: 100%;
}

.right-column{
  position: absolute;
  right: 0;
  width: 420px;
  height: 100%;
  overflow: hidden;
}

.button-container{
  position: absolute;
  text-align: center;
  font-size: 20px;
}

.button-container-buffer{
  width: 25%;
  height: 28px;
}

.left-column.button-container{
  height: 5%;
}

.left-column.playlist-container{
  top: 28px;
  height: 100%;
  overflow: hidden;
}

.left-column.search-container{
  top: 28px;
  height: 100%;
  display: none;
}

.left-column.settings-container{
  height: 200px;
  width: 300px;
  background-color: white;
  top: 25px;
  left: 10px;
  display: none;
  z-index: 100;
  box-shadow: 0px 0px 30px #888888;
}

.left-column.settings-button{
  font-size: 20px;
  width: 20px;
  height: 20px;
  z-index: 100;
  border: none;
}

.playlist-button{
  border-bottom: none;
  border-right: none;
  left: 90px;
  width: 25%;
}

.search-button{
  right: 88px;
  width: 25%;
}

.search-results-container{
  position: relative;
  width: 100%;
  height: 50px;
}

.search-results-img{
  position: absolute;
  width: 60px;
  height: 45px;
}

.search-results-title{
  position: absolute;
  width: 300px;
  height: 22px;
  left: 61px;
  overflow: hidden;
  font-size: 16px;
}

.search-results-artist{
  position: absolute;
  width: 300px;
  height: 15px;
  left: 61px;
  top: 30px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.search-results-options{
  position: absolute;
  left: 315px;
  height: 100%;
  width: 50px;
  line-height: 350%;
  background-color: white;
  display: none;
}

.playlist-selection-container{
  position: absolute;
  height: 200px;
  width: 150px;
  left: 330px;
  border: 1px solid lightgray;
  background-color: white;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}

.playlist-selection-container-div{
  position: relative;
  height: 25px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  word-break: break-all;
  line-height: 165%;
}

.add-playlist-button{
  position: absolute;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
  height: 35px;
  line-height: 170%;
  left: 75px;
}

.playlist-display{
  position: absolute;
  top: 45px;
  margin-top: 10px;

  width: 100%;
  height: 490px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 20px;
}

.playlist-div{
  position: relative;
  height: 45px;
  width: 360px;
}

.video-container{
  position: absolute;
  top: 240px;
  height: 290px;
  width: 420px;
  overflow: hidden;
}

.videos{
  position: absolute;
  width: 420px;
  height: 265px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 20px;
}

.video-bar{
  position: relative;
  height: 25px;
  width: 420px;
}

.video-bar.button{
  width: 50px;
  text-align: center;
}

.video-bar.artist{
  width: 50px;
}

.video-bar.title{
  width: 250px;
}

.volume-container{
  width: 100px;
  height: 28px;
  position: absolute;
}

.volume-bar{
  position: absolute;
  width: 50px;
  height: 5px;
  border: 1px solid lightgray;
  top: 12px;
  left: 25px;
}

.volume-bar-fill{
  height: inherit;
  background: gray;
}

.control{
  position: absolute;
  width: 100%;
  /*height: 28px;*/
  height: 45px;
  bottom: 0;
  border-top: 1px solid lightgray;
}

.control-button{
  line-height: 190%;
}

.control-play-pause-button{
  left: 200px;
}

.control-rewind-button{
  left: 175px;
}

.control-fast-forward-button{
  left: 233px;
}

.control-repeat-button{
  line-height: 200%;
  left: 155px;
}

.control-shuffle-button{
  line-height: 200%;
  left: 260px;
}

.control-time{
  bottom: 10px;
  left: 115px;
  position: absolute;
  width: 225px;
  height: 10px;
}

.control-time-bar-container{
  width: 145px;
  height: 3px;
  position: absolute;
  left: 40px;
}

.control-time-bar{
  background-color: lightgray;
  width: 0;
  height: inherit;
}

#control-time-bar-progress{
  position: absolute;
  top: 9px;
  left: 3px;
  border-radius: 5px;
  background-color: black;
  width: 0;
  height: 100%;
}

.control-time-curr{

  position: absolute;
  width: 35px;
  height: inherit;
  text-align: right;
}

.control-time-end{

  position: absolute;
  width: 35px;
  height: inherit;
  text-align: left;
}

.control-time-button{
  
}

.image{
  position: absolute;
  overflow: hidden;
  width: inherit;
  height: inherit;
  left: 0;
}

.playlist-div-image.image{
  height: 50px;
}

.playlist-div-info{
  position: relative;
  height: 25px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}

.import-container{
  box-shadow: 0px 0px 15px #888888;
}

.import-playlist-button{
  position: absolute;
  left: 300px;
  width: 150px;
  text-align: center;
  top: 125px;
}

.import-default-playlist{
  margin-left: 5px;
  border-bottom: 2px solid gray;
  height: 100%;
}

.import-your-playlist{
  margin-left: 30px;
  height: 100%;
}

.import-other-playlist{
  margin-left: 30px;
  height: 100%;
}

.regular-font{
  font-size: 20px;
}

.small-font{
  font-size: 16px;
}

.import-other-url-input{
  position: absolute;
  height: 20px;
  width: 300px;
  left: 95px;
  top: 60px;
}

#import-other-results-container{
  position: absolute;
  height: 200px;
  width: 400px;
  left: 50px;
  top: 90px;
}

#import-other-results{
  position: absolute;
  border: 1px solid lightgray;
  height: 175px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#url-or-display-all-selection-container{
  position: absolute;
  height: 200px;
  width: 400px;
  left: 50px;
  top: 70px;
  display: none;
}

#url-selection-button-container{
  display: none;
}

#url-selection-button{
  position: absolute;
  border: 1px solid lightgray;
  height: 25px;
  width: 150px;
  left: 100px;
  top: 50px;
  text-align: center;
}

#url-selection-container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

#url-selection-results-container{
  position: absolute;
  height: 150px;
  width: 400px;
  left: 0px;
  top: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#url-selection-load{
  position: absolute;
  background-color: white;
  top: -20px;
  z-index: 100;
  width: 100%;
  height: 125%;
  display: none;  
}

#url-selection-success{
  position: absolute;
  background-color: white;
  top: -20px;
  z-index: 100;
  width: 100%;
  height: 125%;
  display: none;
}

#url-selection-continue-button{
  position: absolute;
  border: 1px solid lightgray;
  top: 85%;
  left: 40%;
  width: 65px;
  height: 25px;
}

#url-selection-logout-button{
  position: absolute;
  border: 1px solid lightgray;
  top: -5%;
  right: -5%;
  width: 65px;
  height: 25px;
  text-align: center;
}

#url-selection-error{
  position: absolute;
  top: 50px;
}

.url-selection-url-input{
  position: absolute;
  height: 20px;
  width: 300px;
  left: 45px;
  top: 0;
}

#display-all-selection-button{
  position: absolute;
  border: 1px solid lightgray;
  height: 25px;
  width: 150px;
  left: 100px;
  top: 100px;
  text-align: center;
}

#display-all-selection-container{
  position: absolute;
  top: -15px;
  height: 100%;
  width: 100%;
  display: none;
}

#display-all-selection-results-container{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#display-all-selection-buttons-container{
  position: absolute;
  height: 25px;
  width: 100%;
  bottom: -30px;
}

#display-all-selection-cancel-button{
  left: 20%;
  width: 60px;
}

#display-all-selection-import-all-button{
  left: 37%;
  width: 85px;
}

#display-all-selection-import-button{
  left: 60%;
  width: 60px;
}

.display-all-selection-result{
  position: relative;
  height: 90px;
  width: 120px;
  border: 1px solid lightgray;
  float: left;
}

.display-all-selection-buttons{
  position: absolute;
  border: 1px solid lightgray;
  height: 25px;
  text-align: center;
}

#import-other-success{
  position: absolute;
  border: 1px solid lightgray;
  height: 175px;
  width: 100%;
  display: none;
}

.import-other-button{
  position: absolute;
  border: 1px solid lightgray;
  height: 25px;
  width: 75px;
  text-align: center;
  top: 102%;
}

.import-other-button.url-selection{
  top: 97%;
}

.import-other-button.left{
  left: 25%;
}

.import-other-button.right{
  right: 25%;
}

.import-other-button.results{
  display: none;
  top: 90%;
}

.import-other-results-display-container{
  position: relative;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  
}

.import-other-success-text{
  position: absolute;
  top: 30%;
  color: green;
  left: 15%;
}

#import-other-load{
  position: absolute;
  height: 150px;
  width: 150px;
  top: 25px;
  left: 125px;
}

#import-other-api-error-msg{
  position: absolute;
  left: 15px;
}

.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: lightgray;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: lightgreen;
  cursor: pointer;
}

.tiny-font{ 
  font-size: 12px;
}

.float-left{
  float: left;
}

#edit-video-modal{
  position: absolute;
  display: none;
  border: 1px solid lightgray;
  width: 500px;
  height: 350px;
  top: 125px;
  left: 100px;
  background-color: white;
  z-index: 1000;
}

.edit-video-label{
  position: absolute;
  left: 25px;
}

#edit-title-label{
  top: 10px;
}

#edit-title-input{
  position: absolute;
  border: 1px solid lightgray;
  width: 300px;
  height: 25px;
  top: 30px;
  left: 25px;
}

#edit-artist-label{
  top: 80px;
}

#edit-artist-input{
  position: absolute;
  border: 1px solid lightgray;
  height: 25px;
  width: 300px;
  top: 100px;
  left: 25px;
}

#edit-start-label{
  top: 135px;
}

#edit-start-input-min{
  position: absolute;
  width: 50px;
  left: 25px;
  top: 150px;
}

#edit-start-input-min-label{
  position: absolute;
  left: 80px;
  top: 150px;
}

#edit-start-input-sec{
  position: absolute;
  width: 50px;
  left: 125px;
  top: 150px;
}

#edit-start-input-sec-label{
  position: absolute;
  top: 150px;
  left: 180px;
}

#edit-end-label{
  top: 175px;
}

#edit-end-input-min{
  position: absolute;
  width: 50px;
  left: 25px;
  top: 190px;
}

#edit-end-input-min-label{
  position: absolute;
  left: 80px;
  top: 190px;
}

#edit-end-input-sec{
  position: absolute;
  width: 50px;
  left: 125px;
  top: 190px;
}

#edit-end-input-sec-label{
  position: absolute;
  left: 180px;
  top: 190px;
}

#edit-video-confirm-button{
  position: absolute;
  text-align: center;
  line-height: 150%;
  border: 1px solid lightgray;
  height: 30px;
  width: 75px;
  top: 300px;
  left: 250px;
}

#edit-video-cancel-button{
  position: absolute;
  text-align: center;
  line-height: 150%;
  border: 1px solid lightgray;
  height: 30px;
  width: 75px;
  top: 300px;
  left: 150px;
}
body{
  min-height: 575px;
  min-width: 780px;
  margin: 0px;
  user-select: none;
}

#searchBar{
  position: absolute;
  width: 60%;
  height: 25px;
  top: 10px;
  left: 21%;
  background-color: white;
}
#searchButton{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: lightgray;
  border: 1px solid lightgray;
  left: 217px;
}
#searchInput{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 90%;
  font-size: 20px;
  border: 1px solid lightgray;
}
#addVideoModal{
  background-color: white;
  z-index: 10;
  position: absolute;
  border: 2px solid black;
  width: 75%;
  height: 390px;
  top: 12.5%;
  left: 12.5%;
  display: none;
}
#addVideoViaUrlTab{
  border-bottom: 2px solid dodgerblue;
  position: absolute;
  width: 10%;
  height: 10%;
  text-align: center;
  cursor: pointer;
}
#urlInput{
  position: absolute;
  width: 50%;
  height: 5%;
  top: 15%;
  left: 25%;
  font-size: 16px;
}
#videoModalResultDisplay{
  position: absolute;
  width: 426px;
  height: 240px;
  top: 26.5%;
  left: 12.5%;
  display: none;
}
#urlResultPreviewiframe{
  width: 99%;
  height: 99%;
}
#addVideoConfirmButton{
  position: absolute;
  border: 2px solid black;
  width: 100px;
  height: 25px;
  top: 90%;
  left: 52.5%;
  text-align: center;
  cursor: pointer;
}
#addVideoCancelButton{
  position: absolute;
  border: 2px solid black;
  width: 100px;
  height: 25px;
  top: 90%;
  left: 32.5%;
  text-align: center;
  cursor: pointer;
} 
#deletePlaylistPopup{
  border: 2px solid black;
  background-color: white;
  position: absolute;
  width: 250px;
  height: 100px;
  display: none;
  top: 150px;
  left: 250px;
  z-index: 10;
  cursor: default;
}
#deletePlaylistPopupConfirmButton{
  border: 2px solid black;
  position: absolute;
  width: 75px;
  height: 25px;
  top: 50px;
  left: 145px;
  z-index: inherit;
  cursor: pointer;
}
#deletePlaylistPopupCancelButton{
  border: 2px solid black;
  position: absolute;
  width: 75px;
  height: 25px;
  top: 50px;
  left: 25px;
  z-index: inherit;
  cursor: pointer;
}
#addPlaylistButton{
  width: 170px;
  height: 30px;
  position: absolute;
  top: 25px;     
  left: 300px;
  line-height: 25px;
  border: 2px solid black;
  background-color: dodgerblue;
  cursor: pointer;
  text-align: center;
}
addPlaylistText{
  font-size: 23px;
  font-weight: bold;
  color: white;
}
#playlistPopup{
  top: 140px;
  left: 150px;
  width: 500px;
  height: 300px;
  border: 1px solid gray;
  position: absolute;
  display: none;
  cursor: default;
  background-color: white;
  z-index: 99;
}
#playlistTextbox{
  position: absolute;
  top: 45px;
  left: 37px;
  width:75px;
  height: 25px;
}
#playlistTextboxCharCount{
  position: absolute;
  top: 45px;
  left: 410px;
  width: 50px;
  height: 25px;
}
#playlistInput{
  position: absolute;
  top: 65px;
  left: 37px;
  width:425px;
  height: 25px;
  font-size: 20px;
}
#playlistSetImageTextbox{
  position: absolute;
  top: 100px;
  left: 37px;
  width: 50px;
  height: 25px;
}
#playlistSetImageDisplay{
  border: 1px solid lightgray;
  position: absolute;
  top: 120px;
  left: 37px;
  width: 240px;
  height: 135px;
  overflow: hidden;
}
#playlistSetImageImage{
  height: inherit;
  width: inherit;
  position: absolute;
}
#playlistSetImageButton{
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
#playlistSetImageButtonLabel{
  border: 1px solid lightgray;
  position: absolute;
  display: inline-block;
  top: 125px;
  left: 300px;
  width: 125px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}
#createPlaylistButton{
  text-align: center;
  border: 1px solid gray;
  position: absolute;
  top: 265px;
  left: 255px;
  width: 75px;
  height: 25px;
  cursor: pointer;
}
#cancelPlaylistCreateButton{
  text-align: center;
  border: 1px solid gray;
  position: absolute;
  top: 265px;
  left: 170px;
  width: 75px;
  height: 25px;
  cursor: pointer;
}
#overlay{
  position: fixed;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%; 
  display: none;
}
#transparent-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
.controlAnimation{
  animation-name: controlsAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes controlsAnimation{
  from {top: 515px;}
  to {top: 465px;}
}

#qualitySelectionContainer{
  position: relative;
  width: inherit;
  height: 90%;
}
#qualitySelectionTextBox{
  position: absolute;
  width: 50px;
  height: inherit;
  border-right: 1px solid black;
  text-align: center;
}
#qualityTitle{
  position: absolute;
  height: 25px;
  text-align: center;
}
#smallQualitySelection{
  position: absolute;
  width: 100px;
  height: 25px;
  top: 45px;
  left: 33%;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}
#mediumQualitySelection{
  position: absolute;
  width: 100px;
  height: 25px;
  top: 75px;
  left: 33%;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}
#largeQualitySelection{
  position: absolute;
  width: 100px;
  height: 25px;
  top: 105px;
  left: 33%;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}
#hd720QualitySelection{
  position: absolute;
  width: 100px;
  height: 25px;
  top: 135px;
  left: 33%;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}
#defaultQualitySelection{
  position: absolute;
  width: 100px;
  height: 25px;
  top: 160px;
  left: 33%;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}
div#header{
  position:absolute;
  top: 0;
  left: 0;
  background-color: dodgerblue;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
div#buttons{
  padding-top: 55px
}

loginText{
  color: white;
  font-weight: bold;
}
.AccountButton{
  background-color: white;
  color: #039BE5;
  border: none;
  text-align: center;
  width: 150px;
  height: 35px;

  font-size: 14px;
  font-weight: 500;
  transition-duration: 0s;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.24);
}      
.AccountButton:hover{
  background-color: #e1f3fc;
  color: #039BE5;
}
.Bot10pxMargin{
  margin-bottom: 10px;
}
.url-selection-load-container{
  position: absolute;
  top: 25px;
  left: 100px;
  height: 150px;
  width: 140px;
  font-family: sans-serif; 
}
.container{
  height: 150px;
  width: 140px;
  font-family: sans-serif; 
}
.loader{
  height: 150px;
  width: 140px;
}
.sk-circle {
  margin-left: 12px;
  width: 115px;
  height: 115px;
  position: relative; 
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  /*background-color: #333;*/
  background-color: dodgerblue;
  border-radius: 100%;
  animation: load-animation 1.2s infinite ease-in-out both; 
}
.sk-circle .sk-circle2 {
  transform: rotate(30deg); 
}
.sk-circle .sk-circle3 {
  transform: rotate(60deg); 
}
.sk-circle .sk-circle4 {
  transform: rotate(90deg); 
}
.sk-circle .sk-circle5 {
  transform: rotate(120deg); 
}
.sk-circle .sk-circle6 {
  transform: rotate(150deg); 
}
.sk-circle .sk-circle7 {
  transform: rotate(180deg); 
}
.sk-circle .sk-circle8 {
  transform: rotate(210deg); 
}
.sk-circle .sk-circle9 {
  transform: rotate(240deg); 
}
.sk-circle .sk-circle10 {
  transform: rotate(270deg); 
}
.sk-circle .sk-circle11 {
  transform: rotate(300deg); 
}
.sk-circle .sk-circle12 {
  transform: rotate(330deg); 
}
.sk-circle .sk-circle2:before {
  animation-delay: -1.1s; 
}
.sk-circle .sk-circle3:before {
  animation-delay: -1s; 
}
.sk-circle .sk-circle4:before {
  animation-delay: -0.9s; 
}
.sk-circle .sk-circle5:before {
  animation-delay: -0.8s; 
}
.sk-circle .sk-circle6:before {
  animation-delay: -0.7s; 
}
.sk-circle .sk-circle7:before {
  animation-delay: -0.6s; 
}
.sk-circle .sk-circle8:before {
  animation-delay: -0.5s; 
}
.sk-circle .sk-circle9:before {
  animation-delay: -0.4s; 
}
.sk-circle .sk-circle10:before {
  animation-delay: -0.3s; 
}
.sk-circle .sk-circle11:before {
  animation-delay: -0.2s; 
}
.sk-circle .sk-circle12:before {
  animation-delay: -0.1s; 
}
.loader--text{
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after{
  content: "Loading";
  font-weight: bold;
  color: dodgerblue;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes load-animation{
  20%{
    opacity: .8;
  }
  40%{
    opacity: .6;
  }
  60%{
    opacity: .4;
  }
  80%{
    opacity: .2;
  }
}
@keyframes loading-text{
  0%{
    content: "Loading";
  }
  25%{
    content: "Loading.";
  }
  50%{
    content: "Loading..";
  }
  75%{
    content: "Loading..."
  }
}